.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

input {
  min-width: 12rem;
  border-radius: 0.5rem;
  border: none;
}

.center {
  text-align: center;
}
