/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 2.1 Reset font sizing 1rem = 10px */

html {
  font-size: 62.5%;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color-darker);
  padding-top: 3rem;
  min-height: 100vh;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  margin-left: 5%;
  margin-right: 5%;
  /* 5.1 Use rem sizing  */
  font-size: 1.8rem;
  /* 5.2 Change font */
  font-family: 'Google Sans', sans-serif;
  padding-bottom: 3rem;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  11. Remove list styling & spacing
 */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* body {
  height: 100vh;
} */

:root {
  --main-color: hsl(200 80% 25%);
  --main-color-darker: hsl(200 80% 10%);
  --text-color-dark: hsl(200 10% 5%);
  --text-color-lighter: hsl(200 10% 25%);
  --text-color-light: hsl(200 15% 90%);
  --alternate-color: hsl(35 100% 45%);
  --background-color: hsl(220 30% 95%);
  --background-color-darker: hsl(220 80% 80%);
}

@media (max-width: 56.25em) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
